.traning
{
    padding:40px 0;
    margin:40px 0;
}
h3 span
{
    color:rgb(255, 251, 0);
}
h3{
    text-transform:uppercase;
}
.train-box
{
    position:relative;
    margin:10px;
}
.train-box img{
    height:350px;
}
.train-box .p
{
    position:absolute;
    top:70%;
    left:0;
    background-color: rgb(255, 251, 0);
    padding:8px 24px;
    text-transform:uppercase;
    font-weight:600;
}
.train-box p
{
    margin-top:10px;
    padding-right:10px;
}
@media (max-width:992px) {
    .train-box img{
        height:300px;
    }
}
@media (max-width:540px) {
    .train-box img{
        height:250px;
    }
}