.advancedinfo
{
    padding:60px 0;
}
.c-img{
    margin-right:10px;
    width:20px;
}
.check-box ul 
{
    list-style:none;
}
.check-box ul li 
{
    margin-top:20px;
}
.join{
    position:relative;
}
.join button{
    display:block;
    margin-left:auto;
}
.date-box
{
    box-shadow:0px 0px 13px -4px#000;
    padding:14px;
    margin:8px;
}
.date-box span{
    font-weight:600;
    font-size:21px;
}
.date-box p {
    color:rgb(255, 196, 0);
    font-weight:600;
}
.join-btn{
    text-decoration:none;
    color:#000;
}
.join-btn:hover{
    color:#000;
}
ol, ul {
    padding-left: 0rem;
}
@media (max-width:340px) {
    .date-box{
        padding:3px;
        margin:8px 0;
    }
    .left-side img{
        height:200px;
    }
}