.pricing{
    padding:50px;
}
.pricing-box
{
    background-color: rgb(0, 0, 0);
    color:#fff;
    text-transform:uppercase;
    padding:20px 20px 40px 20px;
    margin:10px;
}
.pricing-head{
    text-align:center;
}
.pricing-head p{
    font-size:20px;
    color:rgb(255, 251, 0);
    font-weight:600;
}
.pricing-head h2{
    color:#fff;
    font-size:30px;
}
.pricing-head span {
    color:rgb(255, 251, 0);
    font-size:70px;
}
.pricing-body ul{
    list-style: square;
}
.pricing-body ul li 
{
    margin-top:18px;
    text-transform:capitalize;
    font-size:17px;
}
.pricing-body{
    margin-left:25%;
}