.pricing{
    padding:50px;
}
.pricing-box
{
    background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    color:#fff;
    text-transform:uppercase;
    padding:20px 20px 40px 20px;
    position: absolute;
    top:0;
    height:100%;
    width:100%;
}
.pricing-head{
    text-align:center;
}
.pricing-head p{
    font-size:20px;
    color:rgb(255, 251, 0);
    font-weight:600;
}
.pricing-head h2{
    color:#fff;
    font-size:30px;
}
.pricing-head span {
    color:rgb(255, 251, 0);
    font-size:70px;
}
.pricing-body ul{
    list-style: square;
}
.pricing-body ul li 
{
    margin-top:18px;
    text-transform:capitalize;
    font-size:17px;
}
.pricing-body{
    margin-left:25%;
}
.pricing-main{
    position:relative;
    margin:10px 0;
}