.custom-btn
{
    background-color: rgb(255, 251, 0);
    padding:9px 14px;
    border:none;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
}
.main-box h1 
{
    color:#fff;
    text-transform:uppercase;
    font-size:40px;
}
.main-box p 
{
    color:#fff;
}
.main
{
    height:600px;
}
.play i 
{
    color:#fff;
    font-size:44px;
    cursor:pointer;
    border:1px solid #fff;
    padding:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    position:relative;
    /* top:50%;
    lefT:50%;
    transform:translate(-505,-50%);
    -webkit-transform:translate(-505,-50%);
    -moz-transform:translate(-505,-50%);
    -ms-transform:translate(-505,-50%);
    -o-transform:translate(-505,-50%); */
}
@media (max-width:350px) {
    .main-box h1 
    {
        margin-top:20px;
        font-size:30px;
    }
}
@media (max-width:768px) {
    .main-box h1 
    {
        margin-top:20px;
        font-size:30px;
    }
}